/* Background Color for each class */
header
{
    background-color: blanchedalmond;
    margin : 10px; 
}

.nav,.content,.sidebar, .footer
{
    background-color: blanchedalmond;
    margin : 10px; 
}

header 
{
    text-align: center;
}

.body-content
{
    display: flex;
    margin:10px;
}

ul, ol
{
    list-style-type: none;
   padding-left: 0px;
  
}


.nav 
{
    
    display: flex;
    text-align: center;
    margin:10px;
    order: 1; 
    /* order tag is a cheat code */
}

.content 
{
    order : 2; 
    text-align: left;
    margin:10px;
}

.sidebar 
{
    
    margin:10px;
    order: 3; 
}

.footer 
{
    text-align: center;
}