header 
{
    text-align: left;
    background-color: cyan;
}

.nav div, ul
{
    order:1; 
    background-color: cyan;
    width:100%; 
    
}

.nav ul li
{
    list-style-type: disc; 
}

#Nav_Title 
{
    list-style-type: none;
}

.content  
{
    order:2; 
    display:flex;
    flex-direction: column;
     
}

.content p {
    margin-top: 0;      
    margin-bottom: 1px; 
}

#paragraph_one 
{
    order:1; 
    background-color: cyan;
}

#paragraph_two 
{
    order:2; 
    background-color: cyan;
}

#paragraph_three 
{
    order:3; 
    background-color: cyan;
}

.sidebar * 
{
    order:3; 
    background-color: cyan;
    width:100%; 
    margin-right: 10px; ;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}


.footer  
{
    background-color: cyan;
    margin: 10px;
}